.text {
    padding-bottom: 84px;
    &__container {
        max-width: $textContainer;
    }
    &__flex {
        display: flex;
        align-items: flex-end;
    }
    &__dots {
        display: flex;
        align-items: end;
    }
    &__dots:hover {
        opacity: 70%;
        cursor: pointer;
    }
}

@media(max-width: $md1) {
    .text {
        padding-bottom: 34px;
    }
}